* {
    border: none;
    border-radius: 0;
    font-family: "Hack Nerd Font Propo";
    font-size: 20px;
    min-height: 0;

    min-height: 0;
    padding: 0;
    margin: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 0.6);
    color: white;
}

tooltip {
  background: rgba(43, 48, 59, 0.7);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

#workspaces {
    transition: all 150ms ease-in-out;
}
#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-bottom: 3px solid transparent;
}

#workspaces button.active{
    min-width: 50px
}

#clock {
    background: transparent;
}

#battery {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

#battery.charging {
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

@keyframes blink {
    to {
        background-color: rgba(1,1,1, 0);
}
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    padding-left: 10px;
    padding-right: 10px;
}


#network {
    background: transparent;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}


#network.disconnected {
    background: transparent;
    color: crimson;
    padding-left: 10px;
    padding-right: 10px;
}
